<div #scrollMe>
  <div
    class="mt-6"
    style="
      border-bottom: 15px solid white;
      height: 200px; /* set a height so vertical centering works */
      background-color: var(--primary-color);
      background-image: url('assets/images/headers/header.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center; /* horizontal center */
      align-items: center; /* vertical center */
      white-space: nowrap;
      text-align: center;
    "
  >
    <div class="col-md-8 col-12">
      <span class="responsive-title"> J & J Moran Lawn Care </span>
    </div>
  </div>
  <div
    class="d-flex text-center justify-content-center align-items-center"
    style="background-color: var(--green); padding: 1.5em"
  >
    <h1
      style="
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 50%;
        padding: 0.01em;
        border-radius: 5px;
        font-family: var(--brand-font), cursive !important;
        font-weight: 700;
        font-size: 50px;
        color: black;
      "
    >
      Services
    </h1>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center bg-white p-4">
      <div class="col-12 col-md-4 mb-4">
        <p class="price-t">Lawn Care</p>
        Weekly lawn care service including mowing, edging, and trimming.
        <div style="display: flex; justify-content: space-between">
          <span>Starting at</span><span>$55</span>
        </div>
        <p class="price-t">Mulching</p>
        We provide high-quality mulching services to enhance the beauty of your
        landscape.
        <div style="display: flex; justify-content: space-between">
          <span>Starting at</span><span>$45</span>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-4 bg-white">
        <p class="price-t">Clean up</p>
        Seasonal clean-up services to keep your yard tidy and healthy.
        <div style="display: flex; justify-content: space-between">
          <span>Starting at</span><span>$55</span>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <p class="price-t">Add-Ons</p>
        <div class="service-item">
          <span class="service-name">Bush Removal</span>
          <span class="service-price">$20+</span>
        </div>
        <div class="service-item">
          <span class="service-name">Tree Cut Down</span>
          <span class="service-price">$40+</span>
        </div>
        <div class="service-item">
          <span class="service-name">Trash Pick up</span>
          <span class="service-price">$100+</span>
        </div>
      </div>
    </div>
  </div>
</div>
