<div #scrollMe>
    <div>
        <div class="text-center position-relative" style="height: auto; border-bottom: 1px solid black;">
            <img src="assets/images/headers/about-us-bg.svg" alt="manicure" width="800" height="400"
                style="width: 100%; height: auto;" />
        </div>
    </div>
    <div class="d-flex text-center justify-content-center align-items-center "
        style=" background-color: white; padding:1.5em;">
        <h1
            style="border-bottom:1px solid black; border-top:1px solid black; width: 50%; padding: .01em; border-radius: 5px; font-family: var(--brand-font), cursive !important; font-weight: 700; font-size: 50px;">
            About Us</h1>
    </div>
    <div class="flex-wrap d-flex" style="background-color: #FFE2E7; border:1px solid black;">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="d-flex-column"> <img src="assets/images/headers/about-us.svg" alt="manicure" loading="lazy"
                    style=" width: 100%;" />
                <p style="padding:1em ;text-indent: 2em;">

                    Williamsburg Nails is more than just a salon — it's a dream turned into a family tradition. It all
                    began with Nenita, a loving mother who spent years working in nail salons while dreaming of one day
                    owning her own. With patience, passion, and perseverance, she not only mastered her craft but also
                    passed it down to her daughters, Christine, Cindy, and Janette.

                </p>
                <p style="padding:1em ;text-indent: 2em;">
                    In 2008, that dream became a reality with the opening of Nails by Lisa, which later became known as
                    Williamsburg Nails. Together, our family built a place where beauty, connection, and care come
                    first. Every set of nails we create is done with love, and every guest is treated like part of the
                    family.

                </p>
                <p style="padding:1em ;text-indent: 2em;">
                    Whether you're looking for stunning nails, a relaxing escape, or simply a warm and welcoming space
                    to chat — we're here for you. Come visit us at Williamsburg Nails, where heart and artistry meet.
                </p>

            </div>
        </div>

    </div>
    <div class="d-flex text-center justify-content-center align-items-center "
        style="border-bottom:1px solid black; background-color: white; padding:1.5em;">
        <h1
            style="border-bottom:1px solid black; border-top:1px solid black; width: 50%; padding: .01em; border-radius: 5px; font-family: var(--brand-font), cursive !important; font-weight: 700; font-size: 50px;">
            Location</h1>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.4926910412987!2d-76.75315442280537!3d37.30715553895676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b08bf181eb5807%3A0x4c47f5002bdcd6c6!2sWilliamsburg%20Nails%20(formerly%20known%20as%20Nails%20by%20Lisa)!5e0!3m2!1sen!2sus!4v1748197515465!5m2!1sen!2sus"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>