<div
  class="mt-6"
  style="
    border-bottom: 15px solid white;
    height: 300px; /* set a height so vertical centering works */
    background-color: var(--primary-color);
    background-image: url('assets/images/headers/header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center; /* vertical center */
    white-space: nowrap;
    text-align: center;
  "
>
  <div class="col-md-8 col-12">
    <span class="responsive-title"> J & J Moran Lawn Care </span>
  </div>
</div>

<div
  id="Cleanup"
  class="d-flex text-center justify-content-center align-items-center"
  style="background-color: var(--green)"
>
  <h1
    style="
      width: 50%;
      padding: 0.01em;
      border-radius: 5px;
      font-weight: 700;
      font-size: 50px;
      color: var(--primary-color);
    "
  >
    Fall and Spring Clean up
  </h1>
</div>
<app-gallery-list
  [imagePaths]="fallspring"
  galleryId="FallSpringCleanup"
></app-gallery-list>

<div
  id="Mulching"
  class="d-flex text-center justify-content-center align-items-center mt-5"
  style="background-color: var(--blue)"
>
  <h1
    style="
      width: 50%;
      padding: 0.01em;
      border-radius: 5px;
      font-weight: 700;
      font-size: 50px;
      color: var(--primary-color);
    "
  >
    Mulching
  </h1>
</div>
<app-gallery-list
  [imagePaths]="mulch"
  galleryId="mulchGalleryList"
></app-gallery-list>

<div
  id="Lawn"
  class="d-flex text-center justify-content-center align-items-center mt-5"
  style="background-color: var(--green)"
>
  <h1
    style="
      width: 50%;
      padding: 0.01em;
      border-radius: 5px;
      font-weight: 700;
      font-size: 50px;
      color: var(--primary-color);
    "
  >
    Lawn Care
  </h1>
</div>
<app-gallery-list
  [imagePaths]="lawn"
  galleryId="lawnGalleryList"
></app-gallery-list>
