<div #scrollMe>
  <div class="main-container">
    <div
      class="mt-6"
      style="
        border-bottom: 15px solid white;
        height: 200px; /* set a height so vertical centering works */
        background-color: var(--primary-color);
        background-image: url('assets/images/headers/header.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        text-align: center;
      "
    >
      <div class="col-md-8 col-12">
        <span class="responsive-title"> J & J Moran Lawn Care </span>
      </div>
    </div>

    <div
      class="d-flex text-center justify-content-center align-items-center"
      style="background-color: var(--green); padding: 1.5em"
    >
      <h1
        id="Lawn"
        style="
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          width: 50%;
          padding: 0.01em;
          border-radius: 5px;
          font-family: var(--brand-font), cursive !important;
          font-weight: 700;
          font-size: 50px;
          color: black;
        "
      >
        Lawn Care
      </h1>
    </div>

    <app-gallery-list
      [imagePaths]="lawn"
      galleryId="lawnGalleryList"
    ></app-gallery-list>

    <div
      class="d-flex text-center justify-content-center align-items-center"
      style="background-color: var(--brown); padding: 1.5em"
    >
      <h1
        id="Mulching"
        style="
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          width: 50%;
          padding: 0.01em;
          border-radius: 5px;
          font-family: var(--brand-font), cursive !important;
          font-weight: 700;
          font-size: 50px;
          color: black;
        "
      >
        Mulching
      </h1>
    </div>

    <app-gallery-list
      [imagePaths]="mulch"
      galleryId="mulchGalleryList"
    ></app-gallery-list>

    <div
      class="d-flex text-center justify-content-center align-items-center"
      style="background-color: var(--yellow); padding: 1.5em"
    >
      <h1
        id="Cleanup"
        style="
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          width: 50%;
          padding: 0.01em;
          border-radius: 5px;
          font-family: var(--brand-font), cursive !important;
          font-weight: 700;
          font-size: 50px;
          color: black;
        "
      >
        Clean up
      </h1>
    </div>

    <app-gallery-list
      [imagePaths]="fallspring"
      galleryId="FallSpringCleanup"
    ></app-gallery-list>
  </div>
</div>
