.footer {
  background-color: var(--light-color);
  color: var(--primary-color);
  text-align: center;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Flex";
  // border-radius:5px;
  bottom: 0;
  font-size: 10px;
}
.footer p {
  font-weight: bold;
  margin: 0; // remove default paragraph spacing
  line-height: 1;
}
